<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bytescare-live status</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <h2>Bytescare control room!</h2>
  <p>Run and config remote computers that run bytescare-client app</p> 
  <p>{{data}}</p>           
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Email</th>
        
      </tr>
    </thead>
    <tbody>
        {{#each results}}
        <tr>
        <td>{{this}}</td>
        <td><a href="/config/{{this}}">config</a></td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>

</body>
</html>
